{% extends './base.html.twig' %}

{% block body %}
    <h1>Error Page</h1>

    <div class="alert alert-danger">{{ error_message }}</div>

    <p>Sorry, an error occurred. Please try again later.</p>
{% endblock %}