{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuovo Cliente</h1>
    <h6>Compilare il form seguente per aggiungere un nuovo cliente</h6>

    <div class="container">
        <form id="formDati" method="post">
            <div class="form-group row">
                <div class="col-md-4 mt-3">
                    <input type="text" class="form-control" id="ragione-sociale" name="ragione_sociale" placeholder="Ragione Sociale">
                </div>
                <div class="col-md-4 mt-3">
                    <input type="text" class="form-control" id="partita-iva" name="partita_iva" placeholder="Partita IVA">
                </div>
                <div class="col-md-4 mt-3">
                    <input type="text" class="form-control" id="settore-attivita" name="settore_attivita" placeholder="Settore Attività">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3 mt-3">
                    <input type="text" class="form-control" id="indirizzo" name="indirizzo" placeholder="Indirizzo">
                </div>
                <div class="col-md-3 mt-3">
                    <input type="text" class="form-control" id="cap" name="cap" placeholder="CAP">
                </div>
                <div class="col-md-3 mt-3">
                    <input type="text" class="form-control" id="comune" name="comune" placeholder="Comune" readonly>
                </div>
                <div class="col-md-3 mt-3">
                    <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4 mt-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="col-md-4 mt-3">
                    <input type="email" class="form-control" id="pec" name="pec" placeholder="PEC">
                </div>
                <div class="col-md-4 mt-3">
                    <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-6 mt-3">
                    <select class="form-control" id="agente-assegnato" name="id_agente">
                        <option>Seleziona un agente</option>
                    </select>
                </div>
                <div class="col-md-6 mt-3">
                    <input type="date" class="form-control" id="data-acquisizione" name="data_acquisizione">
                </div>
            </div>

            <div class="col-md-12 mt-4 mb-5">
                <input type="button" id="save" class="btn btn-primary btn-block w-100"
                       value="Salva">
            </div>
        </form>
    </div>

    <script>
        $(function () {
            $.validator.addMethod("phoneIT", function(value, element) {
                return this.optional(element) || /^(\+39)?\d{1,10}$/.test(value);
            }, "Per favore, inserisci un numero di telefono valido.");

            $("#formDati").validate({
                rules: {
                    ragione_sociale: {
                        required: true,
                        minlength: 2
                    },
                    partita_iva: {
                        required: true,
                        minlength: 11,
                        maxlength: 11
                    },
                    settore_attivita: {
                        required: true,
                        minlength: 2
                    },
                    indirizzo: {
                        required: true,
                        minlength: 5
                    },
                    cap: {
                        required: true,
                        minlength: 5,
                        maxlength: 5,
                        digits: true
                    },
                    comune: {
                        required: true,
                    },
                    provincia: {
                        required: true,
                        minlength: 2
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    pec: {
                        required: true,
                        email: true
                    },
                    telefono: {
                        required: true,
                        phoneIT: true
                    },
                    id_agente: {
                        required: true
                    },
                    data_acquisizione: {
                        required: true,
                        date: true
                    }
                },
                messages: {
                    ragione_sociale: {
                        required: "Inserisci la ragione sociale.",
                        minlength: "La ragione sociale deve essere lunga almeno 2 caratteri."
                    },
                    partita_iva: {
                        required: "Inserisci la partita IVA.",
                        minlength: "La partita IVA deve essere lunga 11 caratteri.",
                        maxlength: "La partita IVA deve essere lunga 11 caratteri."
                    },
                    settore_attivita: {
                        required: "Inserisci il settore di attività.",
                        minlength: "Il settore di attività deve essere lungo almeno 2 caratteri."
                    },
                    indirizzo: {
                        required: "Inserisci l'indirizzo.",
                        minlength: "L'indirizzo deve essere lungo almeno 5 caratteri."
                    },
                    cap: {
                        required: "Inserisci il CAP.",
                        minlength: "Il CAP deve essere lungo 5 caratteri.",
                        maxlength: "Il CAP deve essere lungo 5 caratteri.",
                        digits: "Il CAP deve contenere solo cifre."
                    },
                    comune: {
                        required: "Inserisci il comune."
                    },
                    provincia: {
                        required: "Inserisci la provincia.",
                        minlength: "La provincia deve essere lunga almeno 2 caratteri."
                    },
                    email: {
                        required: "Inserisci l'email.",
                        email: "Inserisci un'email valida."
                    },
                    pec: {
                        required: "Inserisci la PEC.",
                        email: "Inserisci una PEC valida."
                    },
                    telefono: {
                        required: "Inserisci il numero di telefono.",
                        phoneIT: "Per favore, inserisci un numero di telefono valido."
                    },
                    id_agente: {
                        required: "Seleziona un agente."
                    },
                    data_acquisizione: {
                        required: "Inserisci la data di acquisizione.",
                        date: "Inserisci una data valida."
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-control').removeClass('border-success').addClass('border-danger');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-control').removeClass('border-danger').addClass('border-success');
                }
            });
            user.init();
        })

        let user = {
            init: function (){
                user.setOnClickButton();
            },

            setOnClickButton: function (){
                $('#cap').on('change', function (){
                    let inputCap = $('#cap').val();
                    console.log('CAP:', inputCap);
                    user.getAgentsByCap(inputCap);
                    user.getComuneProvinciaByCap(inputCap);
                })

                $('#save').on('click', function (){
                   user.saveNewCustomer();
                })
            },

            getAgentsByCap: function (inputCap){
                $.ajax({
                    url: 'http://localhost:8080/api/agentsCap/agentsByCap/' + inputCap,
                    type: 'GET',
                    dataType: 'json',

                    success: function (data) {
                        if(data.ok) {
                            console.log(data.ok, data.message, data.data);
                            let agentSelect = $('#agente-assegnato');
                            agentSelect.empty();
                            agentSelect.append('<option>Seleziona un agente</option>');

                            $.each(data.data, function (index, agente) {
                                let option = $('<option></option>').attr('value', agente.id).text(agente.nome + ' ' + agente.cognome);
                                agentSelect.append(option);
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX Error:', xhr.responseText);
                        console.error('Status:', status);
                        console.error('Error:', error);
                    }
                })

            },

            getComuneProvinciaByCap: function (inputCap){
                $.ajax({
                    url: 'http://localhost:8080/api/cap/comuneProviciaByCap/' + inputCap,
                    type: 'GET',
                    dataType: 'json',

                    success: function (response) {
                        const data = response.data[0];
                        if(response.ok) {
                            // console.log(response.ok, response.message, response.data);
                            $('#comune').val(data['comune']);
                            $('#provincia').val(data['provincia']);
                        }
                    },
                    error: function (xhr, status, error) {
                        let errorJson = JSON.parse(xhr.responseText);
                        console.error('AJAX Error:', xhr.responseText);
                        console.error('Status:', status);
                        console.error('Error:', error);
                        if (errorJson.error === "CAP non trovato"){
                            alert(errorJson.error);
                            $('#cap').closest('.form-group').addClass('has-error');
                            $('#cap').addClass('border-danger');
                        }
                    }
                })
            },

            saveNewCustomer: function (){
                let formData = new FormData($("#formDati")[0]);
                let formDataObj = {};

                formData.forEach((value, key) => {
                    formDataObj[key] = value;
                });

                $.ajax({
                    url: 'http://localhost:8080/api/clients',
                    cache: false,
                    contentType: 'application/json',
                    processData: false,
                    data: JSON.stringify(formDataObj),
                    type: 'POST',
                    success: function (data) {
                        console.log(data)
                        if (data.ok === true) {
                            window.location.pathname = '/clienti';
                        }
                    },
                    error: function (xhr, status, error) {
                        let errorJson = JSON.parse(xhr.responseText);
                        console.error('AJAX Error:', xhr.responseText);
                        console.error('Status:', status);
                        console.error('Error:', error);
                        if (errorJson.userMessage === "Scegliere un agente da assegnare"){
                            alert(errorJson.userMessage);
                            $('#agente-assegnato').closest('.form-group').addClass('has-error');
                            $('#agente-assegnato').addClass('border-danger');
                        } else {
                            alert(errorJson.userMessage);
                        }
                    }
                })
            }
        }
    </script>
{% endblock %}

