<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>


<div class="row">
    {#    sfondo a sinistra #}
    <div class="col-md-8 vh-100" style="background-color: #dc6fba;">
    </div>

    {#        form a destra #}
    <div class="col-md-4 vh-100 ">

        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="w-100 d-flex justify-content_center">
                    <img src="{{ asset("img/logo-sec.png") }}" alt="logo image" class="mt-5 mb-4 mx-auto" style="width: 60%">
                </div>

                <h3 class="mt-5">Registrazione</h3>
                <p style="font-size: small; color: dimgray">Si prega di registrarsi per accedere all'area
                    riservata.</p>
                <div>
                    <form id="formDati" method="post">
                        <div class="mt-2">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email"
                                   required>
                            <div id="emailError" class="invalid-feedback"></div> <!-- Elemento per mostrare l'errore -->
                        </div>
                        <div class="mt-2">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                                   required>
                            <div id="usernameError" class="invalid-feedback"></div> <!-- Elemento per mostrare l'errore -->
                        </div>
                        <div class="mt-3">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password" required>
                        </div>
                        <div class="mt-2">
                            <input type="password" class="form-control" id=cPassword" name="cPassword"
                                   placeholder="Confirm Password" required>
                        </div>

                        <input type="submit" id="submit" class="btn btn-primary btn-block mt-4 w-100 mb-5"
                               value="Registrazione">
                        <div class="row justify-content-center align-items-center mt-4"
                             style="color: #999999; font-size: smaller">
                            <div class="col-md-10 text-center">
                                <p>S.E.C. System Engineering Consulting S.r.l.</p>
                                <p>© 2017. All RIGHT RESERVED.</p>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(function () {
        $('#formDati').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                username: {
                    required: true,
                    minlength: 3
                },
                password: {
                    required: true,
                    minlength: 6
                },
                cPassword: {
                    required: true,
                    equalTo: '#password'
                }
            },
            messages: {
                email: {
                    required: "Inserisci un indirizzo email",
                    email: "Inserisci un indirizzo email valido"
                },
                username: {
                    required: "Inserisci un username",
                    minlength: "L'username deve essere lungo almeno 3 caratteri"
                },
                password: {
                    required: "Inserisci una password",
                    minlength: "La password deve essere lunga almeno 6 caratteri"
                },
                cPassword: {
                    required: "Conferma la password",
                    equalTo: "Le password non corrispondono"
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.mt-2').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid').removeClass('is-valid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid').addClass('is-valid');
            }
        });
        user.init();
    })

    let user = {
        init: function () {
            user.setOnClickButton();
        },

        setOnClickButton: function () {
            $('#submit').on('click', function (e) {
                e.preventDefault();
                user.checkCredentials();
            })
        },

        checkCredentials: function () {
            let form_data = new FormData($("#formDati")[0]);
            $.ajax({
                url: 'http://localhost:8080/api/register',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'POST',
                success: function (data) {
                    console.log(data)
                    if (data.ok === true) {

                        let successAlert = `<div class="alert alert-success d-flex align-items-center" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                <div>
                                                    Registrazione avvenuta con successo!
                                                </div>
                                            </div>`;
                        $('#formDati').prepend(successAlert);

                        setTimeout(function() {
                            window.location.pathname = '/login';
                        }, 1700);
                    }
                },
                error: function (xhr, status, error) {
                    let errorJson = JSON.parse(xhr.responseText)
                    console.error('AJAX Error:', xhr.responseText);
                    console.error('Status:', status);
                    console.error('Error:', error);
                    if (errorJson.userMessage === 'Tutti i campi sono obbligatori') {
                        alert(errorJson.userMessage);
                    }
                    if (errorJson.userMessage === 'Email già utilizzata') {
                        $('#email').val('');  // Pulisce il campo email
                        $('#email').removeClass('is-valid').addClass('is-invalid');
                        $('#emailError').text('Email già utilizzata'); // Mostra l'errore
                    }
                    if (errorJson.userMessage === 'Username già utilizzato') {
                        $('#username').val('');  // Pulisce il campo username
                        $('#username').removeClass('is-valid').addClass('is-invalid');
                        $('#usernameError').text('Username già utilizzato'); // Mostra l'errore
                    }

                }
            })

        }
    }
</script>


</body>
</html>
