<!DOCTYPE html>
<html lang="en">
<head>
                                                                                                                <!-- FAVICON
                                                                                                                <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
                                                                                                                <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
                                                                                                                <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
                                                                                                                <link rel="manifest" href="/site.webmanifest">
                                                                                                                <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
                                                                                                                <meta name="msapplication-TileColor" content="#603cba">
                                                                                                                <meta name="theme-color" content="#ffffff">
                                                                                                                 ///////////////////////////////-->
    <meta charset="UTF-8">
    <title>Agenti</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Bootstrap
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </div>
        </div>
    </nav>
</body>
</html>