{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agenti</h1><br>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-2 text-right d-flex justify-content-end">
                <button id="btn-add" class="btn btn-primary"><a id="add_persone" href="addAgenti.html.twig">Aggiungi
                        Agente</a></button>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="table-container" class=" col-12 mt-2 l-6">
            <table id="table-row" class="table table-bordered table-striped ">
                <thead>
                <tr>
                    <th id="th-1 d-none"></th>
                    <th id="th-2">Nome</th>
                    <th id="th-3">Cognome</th>
                    <th id="th-13"></th>
                </tr>
                </thead>
                <tbody>
                {% for element in agenti %}
                    <tr data-id="{{ element.id }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ element.nome }}</td>
                        <td>{{ element.cognome }}</td>
                        <td>
                            <div class="button-container">
                                <button class="btn btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <style>

    </style>
    <script>
        $(function () {
            console.log($('#th-1').text());

        })
    </script>
{% endblock %}