{% extends 'base.html.twig' %}


{% block body %}
    <tbody>
        <form id="form_creazione_agente" method="post">
            <div class="agenti_form container">
                <div class="mb-3">
                    <label for="name"  class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" aria-describedby="text">
                    <div id="textHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label  for="surname" class="form-label">Cognome</label>
                    <input type="text" class="form-control" id="surname">
                </div>
                <!--<div class="mb-3">
                    <label  for="cap" class="form-label">Cap</label>
                    <input type="text" class="form-control" id="cap">
                    <div id="capError" class="invalid-feedback"></div> <!-- Elemento per mostrare l'errore
                </div>-->
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </tbody>
    <tfoot>
    </tfoot>
    <style>
        .agenti_form{
            width:500px;
            display: block;
        }
        .dropdownForm{
            max-width: 100px;
        }
    </style>
<script>
    $(function () {
        user.init();
    })

    let user = {
        init: function (){
            user.setOnClickButton();
        },

        setOnClickButton: function (){
            $('#submit').on('click', function (){

            })

            $('#cap').on('change', function (){
                let inputCap = $('#cap').val();
                console.log(inputCap);

                $.ajax({
                    url: 'http://localhost:8080/api/' + inputCap,
                    type: 'GET',
                    dataType: 'json',

                    success: function (data) {
                        if(data.ok) {
                            console.log(data.ok, data.message, data.data);
                            let agentSelect = $('#agente-assegnato');
                            agentSelect.empty();
                            agentSelect.append('<option>Seleziona un agente</option>'); // Aggiungi l'opzione di default

                            $.each(data.data, function (index, agente) {
                                let option = $('<option></option>').attr('value', agente.id).text(agente.nome + ' ' + agente.cognome); // Usa i campi appropriati
                                agentSelect.append(option);
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        //let errorJson = JSON.parse(xhr.responseText);
                        console.error('AJAX Error:', xhr.responseText);
                        console.error('Status:', status);
                        console.error('Error:', error);
                        //alert(errorJson.error);
                    }
                })
            })
        },
        createAgente: function (){
            $.ajax({
                url: 'http://localhost:8080/api/agents',
                type: 'POST',
                dataType: 'json',
                success: function(response) {
                    alert('Agente aggiunto con successo!');
                },
                error: function(xhr, status, error) {
                    alert('Errore nell\'aggiunta dell\'agente.');
                    console.error(xhr, status, error);
                }

            })


        }

    }

</script>
{% endblock %}


