{% extends 'base.html.twig' %}


{% block body %}
    <tbody>
        <form id="form_creazione_agente" method="post">
            <div class="agenti_form container">
                <div class="mb-3">
                    <label for="name"  class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" aria-describedby="text">
                    <div id="textHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label  for="surname" class="form-label">Cognome</label>
                    <input type="text" class="form-control" id="surname">
                </div>
                <!--<div class="mb-3">
                    <label  for="cap" class="form-label">Cap</label>
                    <input type="text" class="form-control" id="cap">
                    <div id="capError" class="invalid-feedback"></div>
                </div>-->
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </tbody>
    <tfoot>
    </tfoot>
    <style>
        .agenti_form{
            width:500px;
            display: block;
        }
        .dropdownForm{
            max-width: 100px;
        }
    </style>
<script>
    $(function () {
        user.init();
    })

    let user = {
        init: function (){
            user.setOnClickButton();
        },

        setOnClickButton: function (){
            $('#submit').on('click', function (){

            })
        },
        createAgente: function(nome, cognome, cap) {
            $.ajax({
                url: 'http://localhost:8080/api/agents',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    nome: nome,
                    cognome: cognome
                }),
                success: function(response) {
                    alert('Agente aggiunto con successo!');

                    /*let idAgente = response.id;

                    $.ajax({
                        url: 'http://localhost:8080/api/createAgentiCap',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify({
                            cap: cap,
                            id_agente: idAgente
                        }),
                        success: function(response) {
                            alert('CAP aggiunto con successo!')
                            console.log(response);
                        },
                        error: function(xhr, status, error) {
                            alert('Errore nell\'aggiunta del CAP.');
                            console.error(xhr, status, error);
                        }
                    });*/
                },
                error: function(xhr, status, error) {
                    alert('Errore nell\'aggiunta dell\'agente.');
                    console.error(xhr, status, error);
                }
            });
        }

    }

</script>
{% endblock %}


